html,
body {
  width: 100px;
}

.hidden {
  display: none;
}

#toggle-slider {
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}

#toggle-slider .slider {
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s ease;
}

#toggle-slider.on .slider {
    left: 26px;
    background-color: #4CAF50;
}

#toggle-slider.off .slider {
    left: 2px;
    background-color: #f44336;
}
